<div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
  <h1>Hello, {{ currentUser.firstName }}.</h1>
  <br>
  <button class="btn btn-primary" (click)="adminMode = 'verification'">Voter Verification</button>
  <button class="btn btn-primary" (click)="adminMode = 'editing'">Election Management</button>
  <button class="btn btn-primary" (click)="adminMode = 'auditing'">View Audit Trail</button>
  <br><br>
  <div *ngIf="adminMode === 'verification'">
    <h2>Search Unverified Users</h2>
    <input type="search" class="form-control" [(ngModel)]="queryString">
    <br>
    <h2>Users Awaiting Verification:</h2>
    <div *ngFor="let user of unregisteredUsers | slice:0:5 | FilterPipe:queryString">
      <app-user-info [user]="user" (onAllow)="verifyUser(user)" (onDeny)="denyUser(user)"></app-user-info>
    </div>
  </div>
  <div *ngIf="adminMode === 'editing'">
    <p>Editing</p>
  </div>
  <div *ngIf="adminMode === 'auditing'">
    <p>Auditing</p>
  </div>
</div>
