<ul class="list-group">
  <li class="list-group-item">Name: {{ user.lastName }}, {{ user.firstName }}</li>
  <li class="list-group-item">Email: {{ user.email }}</li>
  <li class="list-group-item">DOB: {{ user.dob | date }}</li>
  <li class="list-group-item">SSN: {{ user.ssn }}</li>
  <li class="list-group-item">Driver's License: {{ user.driversLicense }}</li>
  <button class="btn btn-primary" (click)="onAllowUser()">Allow</button>
  <button class="btn btn-danger" (click)="onDenyUser()">Deny</button>
</ul>
<br>
<!--
{
  id: number;
  username: string;
  firstName: string;
  lastName: string;
  ssn: string;
  dob: Date;
  driversLicense: string;
  registrationStatus: 'registered' | 'unregistered' | 'denied';
  votingStatus: 'idle' | 'requesting' | 'approved' | 'denied';
  email: string;
  address: Address;
  role: 'voter' | 'manager' | 'administrator';
}
-->
