<div *ngIf="!loading">
  <div class="row">
    <div class="col-12">
      <form name="form" (ngSubmit)="f.form.valid && onUpdateCandidate()" #f="ngForm" novalidate>
        <div class="panel-heading">
          <span>Candidate</span>
        </div>
        <div class="form-group row">
          <div class="col-12 col-sm-6">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="candidate.name"
              #name="ngModel"
            />
          </div>
          <div class="col-12 col-sm-6">
            <label for="party">Party</label>
            <input
              type="text"
              class="form-control"
              id="party"
              name="party"
              [(ngModel)]="candidate.party"
              #party="ngModel"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-12 col-sm-6">
            <button type="submit" [disabled]="loading || f.invalid" class="btn btn-primary my-btn">Update
            </button>
            <img *ngIf="loading"
                 src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
          </div>
          <div class="col-12 col-sm-6">
            <a [routerLink]="['..']" class="btn btn-link my-float-right">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
