<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNavigateTo('users')">Manage Users</button>
    <button class="btn btn-primary" (click)="onNavigateTo('elections')">Manage Elections</button>
    <button class="btn btn-primary" (click)="onNavigateTo('ballots')">Manage Ballots</button>
    <button class="btn btn-primary" (click)="onNavigateTo('candidates')">Manage Candidates</button>
    <br>
    <hr>
    <br>
  </div>
</div>
<router-outlet></router-outlet>


