<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="margin-20">
        <h4>Election Precinct 101</h4>
      </div>
      <form [formGroup]="myForm" novalidate>
        <!--races-->
        <div formArrayName="races">
          <div *ngFor="let race of myForm.controls.races.controls; let i=index" class="panel panel-default">
            <div class="panel-heading">
              <span>Race {{i + 1}}</span>
              <button type="button" *ngIf="myForm.controls.races.controls.length > 1" (click)="removeRace(i)">-</button>
            </div>
            <div class="panel-body" [formGroupName]="i">
              <div class="form-group col-xs-6">
                <label>Office</label>
                <input type="text" class="form-control" formControlName="office">
                <small *ngIf="!myForm.controls.races.controls[i].controls.office.valid && myForm.controls.races.controls[i].controls.office.touched" class="help-block">Office is Required</small>
              </div>
              <div class="form-group col-xs-6">
                <label>Description</label>
                <input type="text" class="form-control" formControlName="description">
                <small *ngIf="!myForm.controls.races.controls[i].controls.description.valid && myForm.controls.races.controls[i].controls.description.touched" class="help-block">
                  Description is required
                </small>
              </div>
            </div>
          </div>
        </div>
        <div class="margin-20">
          <button type="button" (click)="addRace()" style="cursor: default">
            Add another race +
          </button>
        </div>
        <div class="margin-20">
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!myForm.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
