<div *ngIf="ongoingCurrentElections()">
  <div *ngIf="!userIsRequesting()">
    <div *ngIf="!userIsApproved()">
      <button class="btn btn-primary" (click)="onSubmitVoteRequest()">Request to Vote</button>
    </div>
    <div *ngIf="userIsApproved()">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div *ngIf="localElections.length > 0">
            <div *ngFor="let election of localElections">
              <h4>{{ election.description }}</h4>
              <div *ngFor="let officeId of election.offices">
                <app-office (voted)="loadAllElections()" [userId]="currentUser.id" [electionId]="election.id"
                            [officeId]="officeId"></app-office>
                <br>
              </div>
            </div>
          </div>
        </div>

        <!-- State Elections -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div *ngIf="stateElections.length > 0">
            <div *ngFor="let election of stateElections">
              <h4>{{ election.description }}</h4>
              <div *ngFor="let officeId of election.offices">
                <app-office (voted)="loadAllElections()" [userId]="currentUser.id" [electionId]="election.id"
                            [officeId]="officeId"></app-office>
                <br>
              </div>
            </div>
          </div>
        </div>

        <!-- National Elections -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
          <div *ngIf="nationalElections.length > 0">
            <div *ngFor="let election of nationalElections">
              <h4>{{ election.description }}</h4>
              <div *ngFor="let officeId of election.offices">
                <app-office (voted)="loadAllElections()" [userId]="currentUser.id" [electionId]="election.id"
                            [officeId]="officeId"></app-office>
                <br>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="userIsRequesting()">
    <app-spinner></app-spinner>
  </div>
</div>
<div *ngIf="!loading && !ongoingCurrentElections()">
  <p>There are no currently ongoing elections.</p>
</div>
