@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto', sans-serif;
}

a {
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

@media (min-width: 550px) {
  .my-float-right {
    float: right !important;
  }
}

.btn.btn-primary {
  margin: 5px;
}
