<!-- Debugging Hack -->
<!--<div class="col-12 col-sm-10 offset-sm-1">-->
<!--<button class="btn btn-default" (click)="userStatus = 'voter'">Voter</button>-->
<!--<button class="btn btn-default" (click)="userStatus = 'manager'">Manager</button>-->
<!--<button class="btn btn-default" (click)="userStatus = 'administrator'">Admin</button>-->
<!--<br><br><br>-->
<!--</div>-->
<!--<div *ngIf="userStatus === 'voter'">-->
<!--<app-home-voter></app-home-voter>-->
<!--</div>-->

<!--<div *ngIf="userStatus === 'manager'">-->
<!--<app-home-manager></app-home-manager>-->
<!--</div>-->

<!--<div *ngIf="userStatus === 'administrator'">-->
<!--<app-home-administrator></app-home-administrator>-->
<!--</div>-->

<div class="col-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
  <router-outlet></router-outlet>
</div>
