<div class="col-md-6 col-md-offset-3">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel"
             required/>
      <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel"
             required/>
      <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
             required/>
      <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
             required/>
      <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">E-mail</label>
      <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
             required/>
      <div *ngIf="f.submitted && !email.valid" class="help-block">Valid e-mail is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ssn.valid }">
      <label for="ssn">SSN</label>
      <input type="ssn" class="form-control" name="ssn" [(ngModel)]="model.ssn" #ssn="ngModel"
             required/>
      <div *ngIf="f.submitted && !ssn.valid" class="help-block">Last 5 digits of ssn is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dob.valid }">
    <label for="dob">DOB</label>
    <input type="dob" class="form-control" name="dob" [(ngModel)]="model.dob" #dob="ngModel"
           required/>
    <div *ngIf="f.submitted && !dob.valid" class="help-block">Properly formatted date of birth is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !driversLicense.valid }">
      <label for="driversLicense">Driver's License Num.</label>
      <input type="driversLicense" class="form-control" name="driversLicense" [(ngModel)]="model.driversLicense" #driversLicense="ngModel"
             required/>
      <div *ngIf="f.submitted && !driversLicense.valid" class="help-block">Driver's License Number is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
      <label for="address">Street Address</label>
      <input type="address" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel"
             required/>
      <div *ngIf="f.submitted && !address.valid" class="help-block">Properly formatted street address is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
      <label for="city">City</label>
      <input type="city" class="form-control" name="city" [(ngModel)]="model.city" #city="ngModel"
             required/>
      <div *ngIf="f.submitted && !city.valid" class="help-block">City is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !state.valid }">
      <label for="state">State</label>
      <input type="state" class="form-control" name="state" [(ngModel)]="model.state" #state="ngModel"
             required/>
      <div *ngIf="f.submitted && !state.valid" class="help-block">State of residence (ex. IA) is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zip.valid }">
      <label for="zip">Zip Code</label>
      <input type="zip" class="form-control" name="zip" [(ngModel)]="model.zip" #zip="ngModel"
             required/>
      <div *ngIf="f.submitted && !zip.valid" class="help-block">Zip code is required</div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
