<div class="col-xs-12 col-sm-10 col-md-8 offset-sm-1 offset-md-2">
  <h2>Register</h2>
  <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm">
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="firstName">First Name</label>
      <input id="firstName"
             type="text"
             class="form-control"
             name="firstName"
             [(ngModel)]="model.firstName"
             #firstName="ngModel"
             required
             pattern="[A-Za-z]*"
      />
      <div *ngIf="firstName.touched && !firstName.valid" class="help-block">
        <div *ngIf="firstName.errors.required"> First name is required. </div>
        <div *ngIf="firstName.errors.pattern"> First name must consist of letters only. </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="lastName">Last Name</label>
      <input id="lastName"
             type="text"
             class="form-control"
             name="lastName"
             [(ngModel)]="model.lastName"
             #lastName="ngModel"
             required
             pattern="[A-Za-z\-]*"
      />
      <div *ngIf="lastName.touched && !lastName.valid" class="help-block">
        <div *ngIf="lastName.errors.required"> Last name is required. </div>
        <div *ngIf="firstName.errors.pattern"> Last name must consist of letters and dashes only. </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
      <label for="username">Username</label>
      <input id="username"
             type="text"
             class="form-control"
             name="username"
             [(ngModel)]="model.username"
             #username="ngModel"
             required
             pattern = "^[a-zA-Z0-9]+$"
      />
      <div *ngIf="username.touched && !username.valid" class="help-block">
        <div *ngIf="username.errors.required"> Username is required. </div>
        <div *ngIf="username.errors.pattern"> Username must consist of letters and numbers only. </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password">Password</label>
      <input id="password"
             type="password"
             class="form-control"
             name="password"
             [(ngModel)]="model.password"
             #password="ngModel"
             required
             minlength="6"
             pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])"
      />
      <div *ngIf="password.touched && !password.valid" class="help-block">
        <div *ngIf="password.errors.required"> Password is required. </div>
        <div *ngIf="password.errors.minlength"> Password must be 6 characters long. </div>
        <div *ngIf="password.errors.pattern"> Password must contain a capital letter, lowercase letter, number and special character. </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email">E-mail</label>
      <input id="email"
             type="email"
             class="form-control"
             name="email"
             [(ngModel)]="model.email"
             #email="ngModel"
             required
             pattern="^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$"
      />
      <div *ngIf="email.touched && !email.valid" class="help-block">
        <div *ngIf="email.errors.required"> E-mail is required. </div>
        <div *ngIf="email.errors.pattern"> Please enter a valid e-mail. </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !ssn.valid }">
      <label for="ssn">SSN</label>
      <input id="ssn"
             type="ssn"
             class="form-control"
             name="ssn"
             [(ngModel)]="model.ssn"
             #ssn="ngModel"
             required
             minlength="5"
             maxlength="5"
             pattern="[0-9]*"
      />
      <div *ngIf="ssn.touched && !ssn.valid" class="help-block">
        <div *ngIf="ssn.errors.required"> Last 5 digits of ssn is required. </div>
        <div *ngIf="ssn.errors.minlength"> Please include 5 digits of ssn.</div>
        <div *ngIf="ssn.errors.maxlength"> Please include 5 digits of ssn.</div>
        <div *ngIf="ssn.errors.pattern"> Only include numbers in your entry. </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dob.valid }">
    <label for="dob">DOB</label>
    <input id="dob"
           type="date"
           class="form-control"
           name="dob"
           [(ngModel)]="model.dob"
           #dob="ngModel"
           required
    />
    <div *ngIf="dob.touched && !dob.valid" class="help-block">Properly formatted date of birth is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !driversLicense.valid }">
      <label for="driversLicense">Driver's License Num.</label>
      <input id="driversLicense"
             type="driversLicense"
             class="form-control"
             name="driversLicense"
             [(ngModel)]="model.driversLicense"
             #driversLicense="ngModel"
             required
             minlength="9"
             maxlength="9"
             pattern="[a-zA-Z0-9]+"
      />
      <div *ngIf="driversLicense.touched && !driversLicense.valid" class="help-block">
        <div *ngIf="driversLicense.errors.required"> Drivers license number is required. </div>
        <div *ngIf="driversLicense.errors.minlength"> Drivers license must be 9 characters long.</div>
        <div *ngIf="driversLicense.errors.maxlength"> Drivers license must be 9 characters long.</div>
        <div *ngIf="driversLicense.errors.pattern"> Drivers license consists of letters and numbers.</div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !address.valid }">
      <label for="address">Street Address</label>
      <input id="address"
             type="address"
             class="form-control"
             name="address"
             [(ngModel)]="model.address"
             #address="ngModel"
             required
      />
      <div *ngIf="address.touched && !address.valid" class="help-block"> Street address is required </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !city.valid }">
      <label for="city">City</label>
      <input id="city"
             type="city"
             class="form-control"
             name="city"
             [(ngModel)]="model.city"
             #city="ngModel"
             required
      />
      <div *ngIf="city.touched && !city.valid" class="help-block">City is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !state.valid }">
      <label for="state">State</label>
      <input id="state"
             type="state"
             class="form-control"
             name="state"
             [(ngModel)]="model.state"
             #state="ngModel"
             required
             pattern="^(?:(A[KLRZ]|C[AOT]|D[CE]|FL|GA|HI|I[ADLN]|K[SY]|LA|M[ADEINOST]|N[CDEHJMVY]|O[HKR]|P[AR]|RI|S[CD]|T[NX]|UT|V[AIT]|W[AIVY]))$"
      />
      <div *ngIf="state.touched && !state.valid" class="help-block">
        <div *ngIf="state.errors.required"> State is required. </div>
        <div *ngIf="state.errors.pattern"> State is not in the correct format. </div>
      </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !zip.valid }">
      <label for="zip">Zip Code</label>
      <input id="zip"
             type="zip"
             class="form-control"
             name="zip" [(ngModel)]="model.zip"
             #zip="ngModel"
             required
             minlength="5"
             maxlength="5"
             pattern="[0-9]*"
      />
      <div *ngIf="zip.touched && !zip.valid" class="help-block">
        <div *ngIf="zip.errors.required"> Zip code is required. </div>
        <div *ngIf="zip.errors.minlength"> Zip code should be 5 digits. </div>
        <div *ngIf="zip.errors.maxlength"> Zip code should be 5 digits. </div>
        <div *ngIf="zip.errors.pattern"> Zip code consists of 5 numbers.</div>
      </div>
    </div>
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading"
           src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div>
